@import 'tailwindcss';
@config "../../tailwind.config.js";
@plugin "@tailwindcss/typography";

:root {
  --foreground-rgb: Canvas;
  --background-start-rgb: CanvasText;
  --background-end-rgb: CanvasText;
}

:root.light {
  --starting-color: 255, 255, 255, 0.85;
  --ending-color: 0, 0, 0, 0.3;
}

:root.dark {
  --starting-color: 0, 0, 0, 0.85;
  --ending-color: 255, 255, 255, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.marked h2 {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 1rem;
}

.marked a {
  color: #006fee;
}

.marked p {
  padding-bottom: 1rem;
}
